@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 242 84% 67%;
    --primary-foreground: 210 40% 98%;

    --secondary: 276 74% 46%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 262 83% 58%;
    --accent-foreground: 210 40% 98%;

    --destructive: 350 89% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 5%;

    --radius: 0.5rem;

    --sidebar-background: 262 83% 98%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 242 84% 67%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5% 96%;
    --sidebar-accent-foreground: 222 47% 11%;
    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 217 91% 60%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --primary: 242 84% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 276 74% 40%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 262 83% 52%;
    --accent-foreground: 210 40% 98%;

    --destructive: 350 89% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 213 27% 84%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 242 84% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 18%;
    --sidebar-ring: 213 27% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
